:root {
  --backgroundColor: rgb(213, 225, 239);
  --componentColor: rgb(255, 255, 255);
  --secondaryColor: rgb(44, 125, 250);
  --accentColor: rgb(104, 119, 141);
  --headerColor: rgb(31, 49, 79);
  --disableColor: rgb(229, 231, 235);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: var(--backgroundColor);
  color: var(--accentColor);
}

#root {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-areas:
    "heading heading"
    "code custom"
    "buttons load";
  grid-auto-columns: 1fr;
  gap: 2rem;
  background-color: var(--componentColor);
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}

h1 {
  color: var(--headerColor);
  text-align: center;
  font-size: 1.875rem;
  line-height: 1;
  grid-area: heading;
}

#code, #custom {
  aspect-ratio: 1 / 1;
  display: flex;
}

#code {
  grid-area: code;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

#custom {
  flex-direction: column;
  gap: 1rem;
  grid-area: custom;
}

.criteria {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.share {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label, #buttons button {
  font-weight: 700;
}

input:not([type="number"]) {
  width: 100%;
}

input[type="text"], input[type="number"], button {
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5rem;
}

input[type="text"], input[type="number"] {
  padding: 0.5rem;
  border: 2px solid var(--backgroundColor);
}

input[type="color"] {
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  border: 1px solid var(--backgroundColor);
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 0.5rem;
  margin: 0.05rem;
  border: 1px solid var(--backgroundColor);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--secondaryColor);
  width: 1rem;
  height: auto;
  border-radius: 100%;
  transform: translateY(-25%);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: #e5e7eb;
  border-radius: 0.25rem;
  outline: none;
}

input[type="number"] {
  width: 4rem;
}

#buttons, #load {
  height: 14rem;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: buttons;
}

#buttons button {
  padding: 0.75rem 1.5rem;
  border: none;
  color: var(--componentColor);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  flex: 1;
  cursor: pointer;
}

#buttons button:disabled {
  background-color: var(--disableColor) !important;
  cursor: not-allowed;
}

#buttons button:nth-of-type(1), #buttons button:nth-of-type(4) {
  background-color: var(--accentColor);
}

#buttons button:nth-of-type(2) {
  background-color: var(--secondaryColor);
}

#buttons button:nth-of-type(3) {
  background-color: var(--headerColor);
}

#load {
  background-color: var(--disableColor);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
}

#load button {
  background-color: var(--componentColor);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  text-align: left;
}

@media (width < 49.7rem) {
  main {
    display: flex;
    flex-direction: column;
  }

  #custom {
    aspect-ratio: initial;
  }

  #buttons {
    height: auto;
  }

  #load {
    min-height: 14rem;
  }
}