@import "tailwindcss";

@theme {
  --color-page-bg: rgb(213, 225, 239);
  --color-text-fg: rgb(104, 119, 141);
  --color-component-bg: rgb(255, 255, 255);
  --color-header-fg: rgb(31, 49, 79);
  --color-accent-bg: rgb(44, 125, 250);
  --color-disable-bg: rgb(229, 231, 235);
  --font-display: Outfit, sans-serif;
  --breakpoint-tl: 51.5rem;
}

@utility appearance-reset {
  appearance: none;
  -webkit-appearance: none;
}

@layer base {
  body {
    @apply font-display text-base bg-page-bg text-text-fg;
  }

  #root {
    @apply flex justify-center overflow-hidden;
  }

  label, #buttons button {
    @apply font-bold;
  }

  input:not([type="number"]) {
    @apply w-full;
  }

  input[type="text"], input[type="number"], input[type="color"]::-webkit-color-swatch {
    @apply rounded-lg border-solid border-page-bg;
  }

  input[type="text"], input[type="number"] {
    @apply text-header-fg p-2 border-2;
  }

  input[type="color"]::-webkit-color-swatch {
    @apply m-[0.05rem] border;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-reset bg-accent-bg w-4 h-4 rounded-full transform-[translateY(-25%)];
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply appearance-reset w-full h-2 bg-disable-bg rounded-sm outline-none;
  }

  button {
    @apply rounded-lg hover:cursor-pointer;
  }

  #buttons button {
    @apply py-3 px-6 text-component-bg shadow-md disabled:bg-disable-bg! disabled:hover:cursor-not-allowed;
  }
}

@layer components {
  .criteria {
    @apply flex flex-col gap-1 flex-1;
  }

  .share {
    @apply flex items-center gap-4;
  }
}